@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {margin:0; padding:0;}
li {list-style:none;}
a {text-decoration:none; color:inherit;}
img {display: block;}
button {border: none; outline: none; background: none; cursor:pointer;}
p {word-break: keep-all;}


body {font-family: 'Noto Sans KR', sans-serif; color:#333; background-color: #fff;}
input {position: relative; /* left: -9999px; */}
label {cursor:pointer;}

.agree, .checked {height: 28px; font-size: 28px;  }
.agree.on, .checked.on {display: inline-block;}
.agree.off, .checked.off {display: none;}
.agree {color:#999;}
.checked {color: var(--main-blue);}
.all_check.on .agree {display: none;}
.all_check.on .checked {display: inline-block;}
.total_box {display: inline-block; content:""; font-size: 14px; font-weight: normal; color: #999; font-family: FontAwesome;}
p.terms b {font-size: 1.2em; margin: bottom 0.2em;}

/* .useTerms {background: red;} */

/* 동의 버튼 공통 사항 */
.content {margin-top: 20px;}
.box {margin:20px 30px 0; padding:0.4em 4px 0;  border: 1px solid #ccc;
  border-radius: 0.5em;}
:root {
  --main-blue : #79E1EE;
}

/* wrap */
#wrap {min-width: 500px;}
/* 헤더 */
header {display: flex; justify-content: space-between; align-items: center; padding:20px;}
.logo img {width: 100px;}
.logo img a{display: block;}
.lang {display: flex; height: 30px; align-items: center; font-size: .9rem;}
.lang .earth {margin-right:.8em; font-size: 1.2em;}
.lang form select {
  padding: 2px 4px; font-size:14px;
  border:none;
  background: none;
  appearance: none;  /* 화살표 */
  outline: none; /* 옵션 선택시 박스 */
}
.lang form select:checked {border: none;}
.lang form select option {text-align: center;}
.lang .lang-aria {display: inline-block;}
.lang .lang-aria i {line-height: 24px; font-size: 12px; font-weight: 900; font-family: FontAwesome;}
/* container */
.container {padding: 0 24px; margin-bottom:100px;}
.container>div {margin-bottom: 30px;}
/* 전체 동의 */
.agree-all {display: flex; flex-wrap:wrap; align-items: center;}
.all_check {display: flex;}
.all_check:hover {cursor: pointer;}
.agree-all button {height: 28px;  margin-right: .2em; font-size: 28px;}
/* .agree-all button .checked {display: none;}
.agree-all button.check .agree {display: none;} */
.agree-all button.check .checked {display: block; color:var(--main-blue);}
.agree-all h2 { font-size: 22px; font-weight: bold;}
.agree-all p {width: 100%; margin-top:10px; padding-left:32px; font-size: 16px; color:#999; word-break: keep-all;}
/* 개별 약관 공통사항 */
form input {position: absolute;}
form label {font-size: 18px; font-weight: bold;}
form label b {padding-right: 0.6em; font-size: 0.8em; font-weight: bold;}
form label b.essential {color: var(--main-blue);}
form label b.choice {color:#999;}
.box p.terms {font-size: 14px;}
.box p.terms b {display: block; margin-bottom: 6px;}
/* 이용약관 */
.useTerms {}
.useTerms form {}
.useTerms .box p.terms {
  height: 100px;
  padding: 0.6em 1em 0; 
  overflow-y: scroll;
}
/* 개인정보 수집 및 이용 */
.privacy {position: relative;}
.privacy .kids {position: absolute; top:0; right: 0; padding:4px 6px; font-size: 12px; font-weight: bold; border: 1px solid #999; border-radius: 20px;}
.privacy .kids:hover {text-decoration: underline;}
.privacy .box p.terms {
  height: 100px; 
  padding: 0.6em 1em 0; 
  overflow-y: scroll;
}
/* 실명 인증 */
.real_name .box p.terms {
  padding: 0.6em 1em; 
}
/* 위치기반 서비스 */
.location .box p.terms {
  height: 100px; 
  padding: 0.6em 1em 0; 
  overflow-y: scroll;
}
/* 이벤트 정보 수신 동의 */
.event .box {border: none; margin-top:0px;}
.event .box p {font-size: 14px; font-weight: normal;}
.event .box p i {color:#999; padding-right: 0.5em;}
.event .box p i.on {color:var(--main-blue);}
.event .box p.alert {display: none; margin-top:1em; font-weight: 400; color:red;}
.event .box p.alert.on {display: block;}
/* 단체, 비즈니스 회원 가입 */
.container .business {font-size: 16px; font-weight: 400; text-align: right;}
.container .business a {text-decoration: underline; color:var(--main-blue);}
.container .business a i { padding-left: 0.6em;}
/* 하단 '다음' 버튼 */
#wrap .next_btn {position: fixed; bottom: 0; left:0; width: 100%; padding: 20px; box-sizing: border-box; background-color: #fff;}
#wrap .next_btn p {padding:12px 0; font-size: 18px; font-weight:500; text-align: center; color:#fff; background-color: #999; border-radius: 6px;}

/* 스크롤바 style */
/* 스크롤영역 선택자 */
p.terms::-webkit-scrollbar {
  width: 0.8em;
  background: none;
}
/* 스크롤막대(thumb) 선택자 */
p.terms::-webkit-scrollbar-thumb {
  height: 50px;
  border-radius: 20px;
  background: #ccc;
}
/* 스크롤여백(track) 선택 = 스크롤영역 - 스크롤막대 */


@media screen and (min-width:768px) {
  #wrap {margin: 0 auto;}
  .privacy .kids {right: 28px;}
  #wrap .next_btn {left:50%; transform: translate(-50%);}
  #wrap .next_btn p {}
  #wrap, #wrap .next_btn {width: 560px;}
}