@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* { margin: 0; padding: 0;}
li {list-style-type: none;}
a {text-decoration: none; color:inherit;}
img {display: block;}
body {font-family: 'Noto Sans KR', sans-serif; color: #333; background-color: #fff; }

.inner {width:1300px; margin: 0 auto;}
.clearFix::after, .clearFix::before {content: ''; display: block; clear: both;}
.on {display: block;}
.off {display: none;}

:root {
  --main-blue:#79E1EE;
  --main-orange: #F7B645;
  --main-green: #D0F5BE;
  --main-pink: #F27289;
  --main-purple: #6661E8;
  --banner-color: #5EDFDF;
  
} 

/* header */
#wrap {width: 100%; overflow: hidden;}
#header {position: fixed; top: 0; left: 0; z-index: 100; width: 100%; height: 100px; padding:20px; box-sizing: border-box; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); background: #fff;}
#header .inner {height: 100%;}
#header .inner .logo {float: left; margin-right:50px; margin-left:20px; padding: 10px;}
#header .inner .logo img {width: 120px;}
#header .inner nav {float: left;}
#header .inner nav .gnb {display:flex; align-items: center; height: 60px;}
#header .inner nav .gnb li {margin: 0 10px; padding: 0 10px;  flex: 1;}
#header .inner nav .gnb li::after {
  display: block; content: ""; margin-top: -6px; border-bottom: 4px solid transparent; transform: scaleX(0); transition: 0.3s ease-in-out;
}

#header .inner nav .gnb li:hover::after {
  transform: scaleX(1);
}
#header .inner nav .gnb li a {display: block; width:60px; text-align: center; font-size: 24px; padding:10px 0; font-weight: bold; transition:0.3s;}
#header .inner nav .gnb li:nth-child(1) a:hover {color:var(--main-orange);}
#header .inner nav .gnb li:nth-child(1):hover::after {border-bottom: 4px solid var(--main-orange); }
#header .inner nav .gnb li:nth-child(2) a:hover {color:var(--main-pink);}
#header .inner nav .gnb li:nth-child(2):hover::after {border-bottom: 4px solid var(--main-pink); }
#header .inner nav .gnb li:nth-child(3) a:hover {color: var(--main-purple);}
#header .inner nav .gnb li:nth-child(3):hover::after {border-bottom: 4px solid var(--main-purple); }
#header .inner nav .gnb li:nth-child(4) a:hover {color: var(--main-blue);}
#header .inner nav .gnb li:nth-child(4):hover::after {border-bottom: 4px solid var(--main-blue); }
#header .inner .loginJoin {display: flex; float: right; width: 200px;}
#header .inner .loginJoin li {}
#header .inner .loginJoin li a {position: relative; display: block;  width: 80px; height: 60px; line-height: 60px; text-align: center; font-size: 20px; font-weight: 400; flex: 1; width: 100px;}
/* #header .inner .loginJoin li a::after {position: absolute; left: 50%; bottom: 10px; display: block; content: ''; width: 10px; border-bottom: 1px solid currentColor;} */
#header .inner .loginJoin li a::after {
  display: block; content: ""; margin-top: -8px; border-bottom: 1px solid currentColor; transform: scaleX(0); transition: 0.3s ease-in-out;
}
#header .inner .loginJoin li a:hover::after {
  transform: scaleX(1);
}
#header .inner .loginJoin li a:active {font-weight: bold;}
/* #header .inner .loginJoin li a::after { height: 50px; border-bottom: 1px solid currentColor;} */
.login {position: relative;}
.login::after {position: absolute; top:22px; right:0; content: ''; width: 1px; height: 20px; border-left: 1px solid #999;}
/* slide */
/* slide 공통 style */
#slide {position: relative; overflow: hidden; width: 100vw; height: 600px; margin-top: 100px;}
#slide ul {position: relative; width: 300vw;}
#slide ul li {float: left; width:100vw; min-width: 1300px; height: 600px;}
#slide ul li a {display: block; width: 100%; height: 600px;}
#slide ul li dl dt {font-size: 66px; font-weight: 400;}
#slide ul li dl dt span {display: block; font-weight: 600; font-size: 70px; line-height: 74px; margin-top:6px; color:#fff; opacity: 0.9;}
#slide ul li dl dd {display: inline-block; margin-top: 0.5em; margin-right: 1.2em; font-size: 20px; font-weight: 500;}
#slide ul li dl dd:nth-of-type(1) {margin-left: 0.5em;}
#slide ul li dl dd::before {display: inline-block; content: '#';}
/* footshampoo_slide */
#slide ul li.footshampoo_slide {background-color: var(--main-blue);}
#slide ul li a .footshampoo_wrap {position: relative; display: flex; width: 96%; height: 600px; margin:0 auto; }
#slide ul li.footshampoo_slide img {position: absolute; top: -20px; right:6%; height: 100%;}
#slide ul li.footshampoo_slide dl {align-self: center; position: absolute; top: 24%; left:16%;}
#slide ul li.footshampoo_slide dl dt span { text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);}
#slide ul li.footshampoo_slide dl dd {float: left; margin-top: 40px; margin-right:20px; font-size: 18px; font-weight: 600;}
#slide ul li.footshampoo_slide dl dd:nth-of-type(1) {margin-left: 4px;}
/* compose_slide */
#slide ul li.compose_slide { background-color: #fed900;}
#slide ul li a .compose_wrap {position: relative; display: flex; width: 96%; height: 600px; margin:0 auto;}
#slide ul li a .compose_wrap img.compose_logo {position: absolute; top:14%; left:16%;}
#slide ul li a .compose_wrap img.compose_menu {position: absolute; right: 12%; align-self: center; width: 550px;}
#slide ul li a .compose_wrap dl {position: absolute; top:40%; left: 16%; align-self: center; color:#1c1c1c;} 
#slide ul li a .compose_wrap dl dt {font-size: 50px; font-weight: 500; color:#fff; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);} 
#slide ul li a .compose_wrap dl dt span {color:#1c1c1c;} 
#slide ul li a .compose_wrap dl dt span.subTitle {} 
/* coupangMember_slide */
#slide ul li.coupangMember_slide { background-color: #e4edf6;}
#slide ul li.coupangMember_slide .coupangMember_warp {position: relative; display: flex; justify-content: space-between; width: 96%; height: 600px; margin:0 auto;}
#slide ul li .coupangMember_warp img.rocketwowLogo {position: absolute; top:14%; left: 12%; height:  60px;}
#slide ul li .coupangMember_warp img.rocket {align-self: center; position: absolute; right:28%; height: 120px;}
#slide ul li .coupangMember_warp img.coupang_benefit {align-self: center; position: absolute; right:10%; width: 40%;}
#slide ul li .coupangMember_warp dl {align-self: center; position: absolute; top: 30%; left:14%;}
#slide ul li .coupangMember_warp dl dt { font-weight: 500; color:#334dbb;}
#slide ul li .coupangMember_warp dl dt span {text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);}
#slide ul li .coupangMember_warp dl dd {font-size: 24px; font-weight: 600; }
#slide ul li .coupangMember_warp dl dd:nth-of-type(3) {margin-left: 0.5em; }
/* slide 버튼 */
#slide .btns {position: absolute; top:0; left:0; display: flex; justify-content: space-between; align-items: center; width: 100%; height: 600px; z-index:10; }
#slide .btns div.prev {margin-left: 6%;}
#slide .btns div.next {margin-right: 6%;}
#slide .btns div a{display: inline-block; }
#slide .btns div a img{height: 80px; opacity: 0.3;}
/* container */
/* 이달의 베스트 */
#container {}
#container>.inner {padding: 0 110px}
.best {padding: 120px 0; }
.best .title {padding:50px 0;  text-align: center;}
.best h2 {display: inline-block; padding: 5px 20px;  text-align: center; font-size: 28px; border-bottom: 4px solid var(--main-green);}
.best ul {display: flex; justify-content: space-between;}
.best ul li {position: relative; width: 300px;}
.best ul li .hover {display: flex; align-items: center; position: absolute; top:0; left: 0; display: block; width: 300px; height: 300px; margin:10px; font-size: 20px; font-weight: 600; background-color: rgba(255, 255, 255, 0); opacity: 0; transition: 0.3s; }
.best ul li .hover p {position: absolute; top:150px; width: 300px; text-align: center;  transform: translateY(-50%);}
.best ul li:hover .hover {
  background-color: rgba(255, 255, 255, 0.5); opacity: 1;
}
.best ul li:hover .hover p{
  background-color: rgba(255, 255, 255, 0.1); opacity: 1;
}

.best ul li a {display: block; text-align: center;}
.best ul li a img {height: 300px; margin: 10px; box-shadow: 0 4px 10px 4px #999;}
.best ul li a span {font-size: 18px; font-weight: 500;}
.best ul li.jajak {}
.best ul li .jajak_pop {display: flex; z-index:1; justify-content: center; align-items: center; position: fixed; top:0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.2);}
.best ul li .jajak_pop.off {display: none;}
.best ul li .jajak_pop.on {display: flex;}
.best ul li .jajak_pop .close-btn {position: absolute; top:20%; left: 64%; width: 50px;}
/* 이달의 choice */
.choice {position: relative; padding-bottom:200px;}
.choice .title {padding:50px 0; text-align: center;}
.choice h2 {display: inline-block; padding: 5px 20px;  text-align: center; font-size: 28px; border-bottom: 4px solid var(--main-green);}
.choice .choice_content {display: flex; justify-content: space-evenly;}
.choice .choice_content figure {width: 40%;}
.choice .choice_content .text {width: 40%;}
.choice .text img {width:50px;}
.choice .text .type {font-size: 14px; line-height: 14px; font-weight: 400; color:#999;}
.choice .text dt {font-weight: bold; font-size: 26px;line-height: 30px; margin-bottom:20px;}
.choice .text dd ul.keyword {display: flex; justify-content: space-between; align-items: center; padding-right:20%; margin-bottom:24px;}
.choice .text ul.keyword li::before {content: '#';}
.choice .text ul.keyword li {font-size: 18px; font-weight: 600; opacity: 0.9;}
.choice .text ul.description li {font-size: 16px; margin-bottom:.8em;}
.choice .text ul.description li span {display: inline-block;}
.choice .text p {font-size: 22px; font-weight: 600; text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); margin-bottom:24px;}
.choice .best_site {display: flex; align-items:center; padding-right:40%; justify-content: space-between; }
.choice .best_site li {font-weight: bold;}
.choice .best_site li img {border-radius: 20%; box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);}
/* choice pop */
.choice .choice_pop {overflow: hidden; position: fixed; display: flex; justify-content: center; align-items: center; top:0; left:0; z-index:200; width: 100vw; height: 100%; background-color: rgba(0, 0, 0, 0.4);}
.choice .inner .bg {position: absolute; left: 0; top: 0; z-index: 500; width: 100%; height: 100%; opacity: 1; background-color: green; display: none;}
.choice .choice_pop.on {display: flex;}
.choice .choice_pop.off {display: none;}
.choice .choice_pop .inner {display: flex; align-items: center; position: absolute; z-index:300; width: 750px; height: 400px; padding: 10px 20px; background-color: rgb(214, 58, 58);}
.choice .choice_pop .inner img.content {max-width:100%;}

/* .choice .choice_pop .inner .content {width: 100%; height: 100%; background: url(../images/syntha6_pop_trim.png) no-repeat center/contain;} */
/* .choice .choice_pop .inner img:nth-of-type(1) {width:50%; max-height: 650px; box-sizing: border-box;}
.choice .choice_pop .inner img:nth-of-type(2) {width: 24%; margin-left: 1%; align-self: flex-end;}
.choice .choice_pop .inner img:nth-of-type(3) {width: 16%; margin-left: 6%; justify-self: flex-end; align-self: first baseline;}
.choice .choice_pop .inner img:nth-of-type(4) {position: absolute; right: 30px; bottom:30px; width: 22%; justify-self: end;}
.choice .choice_pop .inner img:nth-of-type(5) {position: absolute; top:30px; right:30%; width: 14%;} */
/* .choice .choice_pop .inner img:nth-of-type(1) {flex:0 1 0; width: 50%; height: 100%;}
.choice .choice_pop .inner img:nth-of-type(2) {flex:0 2 0; width: 30%; height: 70%; align-self: flex-end;}
.choice .choice_pop .inner img:nth-of-type(3) {flex:0 2 0; width: 24%; height: 50%;}
.choice .choice_pop .inner img:nth-of-type(4) {flex:0 2 0; width: 40%; height: 40%; align-self: flex-end; transform: translateX(-94%);}
.choice .choice_pop .inner img:nth-of-type(5) {flex:0 2 0;} */
.choice .choice_pop .inner .close-btn {position: absolute; height: 50px; top: -50px; right: 0; opacity: 0.4; z-index: 500;}
/* banner */
.banner {height: 160px;  padding: 70px 0; margin-bottom:120px;  background-color: var(--banner-color);}
.banner .inner {height: 160px;}
.banner .inner img {float: left;}
.banner .inner p.description {float: left; width: 28%; height: 160px; margin-left:50px; font-size: 16px; word-break: keep-all;}
.banner .inner p.description span {font-size: 36px; font-weight: bold; color:#fff;}
.banner .inner p.download {float: right; width: 250px; margin-top: 55px; height: 50px; line-height: 50px; text-align: center; font-weight: 600; border-radius: 50px; background-color: #fff;}
/* item list */
.list {width: 100%;}
.list .inner {box-sizing: border-box; padding:0 220px;}
.list .title{width: 100%; height: 100px; text-align: center;}
.list h2 {display: inline-block; padding: 5px 20px; margin-top:22px; text-align: center; font-size: 28px; border-bottom: 4px solid var(--main-green); box-sizing: border-box;}
.list .menuBtn {width: 480px; margin:0 auto; display: flex; justify-content: space-between; margin-bottom:20px; }
.list .menuBtn li {width: 22%; text-align: center;}
.list .menuBtn li a {display: block; height: 2.4em; line-height: 2.4em;  border-radius: 4%;  color:#333; font-weight: bold;}
/* 탭메뉴 클릭시 스타일 */
.list .menuBtn li:hover a {color:#fff; opacity: 0.9;}
.list .menuBtn li.on a {font-weight: bold; color:#fff; opacity: 0.9;}
.list .menuBtn .food:hover a, .list .menuBtn .food.on a {background: var(--main-orange); color:#fff;}
.list .menuBtn .beauty:hover a, .list .menuBtn .beauty.on a {background-color: var(--main-pink); color:#fff;}
.list .menuBtn .place:hover a, .list .menuBtn .place.on a {background-color: var(--main-purple); color:#fff;}
.list .menuBtn .ects:hover a, .list .menuBtn .ects.on a {background-color: var(--main-blue); color:#fff;}
/* list items */
.list ul.items {display: none;}
.list ul.items.on  {display:flex; flex-wrap: wrap; justify-content: space-evenly;}
.list .items .item {width: 400px; margin-bottom:20px; transition:.3s;}
.list .items .item:hover {transform: scale(1.1);}
.list .items .item:nth-child(2n+1) {margin-right:60px;}
.list .items .item .title {font-size: 20px; width: 400px; height: 20px; line-height: 20px; margin-top:10px; margin-bottom:10px; font-weight: bold; text-align: left;}
.list .items .item .text p {width: 400px; word-break: keep-all;}
.list .place_items span {text-decoration: underline;}
.items .text p:last-child {font-weight: 400;}
.list .more {width: 300px; margin: 0 auto; margin-top:30px; margin-bottom:220px; border-radius: 50px; box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.2);}
.list .more a {position: relative; display: block; height: 60px; line-height: 60px; text-align: center; color:#fff; font-size: 24px; font-weight: bold;  border-radius: 50px;}
.list .more a::before {content: "\2b"; position: absolute; left: 1em; top:-2px; display: inline-block; font-size: 2em; }
.list .more:active {box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);}
.list .more.on {display: block;}
.list .foodMore a {background-color: var(--main-orange);}
.list .foodMore a:active {color: var(--main-orange); background-color: #fff8f8;}
.list .beautyMore a {background-color:var(--main-pink);}
.list .beautyMore a:active {color:var(--main-pink); background-color: #fff;}
.list .placeMore a {background-color: var(--main-purple);}
.list .placeMore a:active {color: var(--main-purple); background-color: #fff;}
.list .ectsMore a {background-color: var(--main-blue);}
.list .ectsMore a:active {color: var(--main-blue); background-color: #fff;}
.list .beauty_items, .place_items, .ects_items {display: none;}
/* .list .beautyMore, .placeMore, .ectsMore {display: none;} */
/* site */
.site {width: 100%; height: 600px; padding-top:100px; background-image:linear-gradient(to bottom, rgba(208,245,190,0.7), rgba(121,225,238,0.7));}
.site .inner {height: 100%;}
.site .inner h2 {width: 100%; height: 100px; line-height: 100px; margin-bottom:50px; text-align: center;}
.site .inner ul.siteList {display: flex; justify-content: space-between;}
.site .inner ul.siteList>li {position: relative;}
.site .inner ul.siteList>li a {display: block; text-align: center;}
.site .inner ul.siteList>li a img {width: 210px; background-color: #fff; border-radius: 50%; box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);}
.site .inner ul.siteList>li a img:active {
  box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.3);
} 
.site .inner ul.siteList>li a span {display: block; font-size: 24px; font-weight: bold; padding: 10px 0;}
.site .inner ul.siteList>li ul {position: absolute; bottom: -80px; left: 0; width: 210px;padding:20px 10px; border-radius: 6%; opacity:0; transition: 0.5s; background-color: rgba(255, 255, 255, 0.3);}
.site .inner ul.siteList>li:hover ul {bottom:-110px; opacity:1;}
.site .inner ul.siteList>li ul li{ width: 100%; height: 30px; line-height: 30px; padding-left: 10px;  /* text-align: center; */ font-size: 16px; font-weight: 600; box-sizing: border-box;}
.site .inner ul.siteList>li ul li i.thumb {padding-right: 10px;}
/* about */
.about {position: relative;}
.about>.inner {padding: 0 110px; box-sizing:border-box;}
.about .title {width: 100%;  height: 100px;  line-height: 100px; padding-top:50px; padding-bottom: 100px; text-align: center;}
.about .title h2 {display: inline-block; padding: 8px 20px; text-align: center; font-size: 28px; line-height: 28px; border-bottom: 4px solid var(--main-green);}
.about .about_content {display: flex; justify-content: space-between; align-items: center; margin-bottom: 100px;}

.about .about_content figure {display: flex; justify-content: center; align-items: center; width: 520px; height: 520px; border-radius: 50%; background-color: var(--main-orange);}
.about .about_content figure img {width: 400px;}
.about .about_content p.text {width: 520px; font-size: 18px; word-break: keep-all; line-height: 32px; font-weight: 400;}
.about .about_content p.text span {display: block; word-break:keep-all; text-indent:1em;}
.about .about_content p.text span i {background-color: #d0f5bec9; font-style: normal;}
.about .about_content p.text span b {font-weight: 600;}
.clickEvent {position: relative;}
.emoji {position: absolute; font-size: 30px; left:0; top:0;}
.emoji1 {font-size: 100px; background-color: red;}
/* footer */
footer {width: 100%; height: 100px; background-color: #999; color:#ccc;}
footer .inner {height: 100px; padding: 20px 0; box-sizing:border-box}

footer .footerLogo {float: left;}
footer .footerMenu {float: left; display: flex; justify-content: space-between; padding: 0 40px;}
footer .footerMenu li {line-height: 60px;}
footer .footerMenu li a {display: block; font-size: 20px; padding: 0 10px; margin: 0 10px; color:#ccc; font-weight: bold;}
footer .email_copy {float: right; height: 40px; padding: 10px 0; font-size: 14px; font-weight: bold;}
footer .email_copy a.email {display: block;}
footer .email_copy small.copyright {}

