@charset "utf-8";
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {margin: 0;padding: 0; word-break: break-all;}
li {list-style: none;}
a {text-decoration: none; color:inherit; display: block;}
img {vertical-align: bottom;}  

html,body {width: 100%; overflow-x: hidden; font-family: 'Pretendard-Regular'; color:#111; background-color: #fff;}

:root {
  --main-black : #111;
  --main-gray : #ccc; 
  --main-background : #fff;
  --sub-background : #f5f5f5;
  --box-shadow : 0px 0px 10px #33333325;
}
/* common */
.inner {max-width: 1660px; margin: 0 auto; padding: 0 50px;}
h2.title { padding: 0 50px; margin-top: 160px; margin-bottom: 20px; font-size: 2em; font-weight: bold; letter-spacing: 0.1em;}
iconify-icon {line-height: 1; font-size: 1.875em; vertical-align: middle;}
a{display: block;}

/* * {outline: 1px dotted red;} */
/* .test {position: fixed; top:0; left: 50%; transform: translateX(-50%); width: 1660px; height: 30px; background-color: rgba(172, 255, 47, 0.336);} */

#wrap {width: 100%;}
.headerContainer { background-color: var(--sub-background); align-items: center; }
/* .headerContainer>* {padding: 0 30px;} */
.brandService {width: 100%; height: 36px; box-sizing: border-box;}
.brandService .inner {display: flex; justify-content: space-between; height: 100%;}
.brandService .familySite {height: 100%; display: flex; justify-content: space-between; align-items: center;}
.brandService .familySite figure{display: flex; gap: 0 20px;}
.brandService .service ul{display: flex; align-items: center; height: 36px; gap: 16px; font-size: 0.875em;}
.brandService .service ul li {height: 100%;}
.brandService .service ul li a {height: 100%; line-height: 36px;}
/* header */
header {width: 100%; background-color: transparent;background-color: var(--main-background); box-sizing: border-box;}
header>.inner {display: flex; gap: 30px; justify-content: flex-start; align-items: center; height: 60px;}
header>.inner h1 img{vertical-align: middle;}
/* menu */
header>.inner nav {flex:1;}
/* menu - gnb */
nav {}
nav>ul.gnb{display: flex; gap:0;}
nav>ul.gnb>li>a{height: 60px; line-height: 60px; padding:0 15px; font-weight: bold; transition: none;}
nav>ul.gnb>li:hover>a {border-bottom: 2px solid #111; box-sizing: border-box;}
/* menu - lnb */
/* nav>ul.gnb.on>li>.lnb {display: block;} */
nav>ul.gnb>li>.lnb{
  display: none;
  position: absolute; top: 96px; left: 0; width: 100%; padding: 60px 0;
  background-color: var(--main-background);
  z-index: 10;
  }
  nav>ul.gnb>li>.lnb>.lnb_wrapper {display: flex; padding-left: calc(110px + 15px); box-sizing: border-box;}
  nav>ul.gnb>li>.lnb>.lnb_wrapper .column {display: flex; flex-direction: column; width: 200px; gap: 56px 20px; font-weight: bold; box-sizing: border-box;}
  .column .category {}
  nav>ul.gnb>li>.lnb>.lnb_wrapper .column a.title {color:var(--main-black); margin-bottom: 26px; font-weight: bold;}
  nav>ul.gnb>li>.lnb>.lnb_wrapper .column a {font-size: 0.875em; color:#888; margin-bottom: 18px;}
  nav>ul.gnb>li>.lnb>.lnb_wrapper .column a:hover {color: var(--main-black);}
/* header-icons */
header .inner .search {position: relative;}
.search input {line-height: 40px; width: 150px; height: 40px;
  padding: 0 20px; border: none; border-radius: 20px;  font-size: 1em; font-weight: bold;
  background-color: var(--sub-background); box-sizing: border-box;}
  .search input::placeholder {
    color: #ccc; 
  }
  .search input:hover {
    background-color: #ddd;
  }
  .search input:hover::placeholder {
    color: #888;  
  }
  .search iconify-icon {
    position: absolute; top: 0; right: 0; width: 36px; margin: 2px;height: 36px; display: flex; justify-content: center; align-items: center;    
  }
  .search iconify-icon:hover {
    background-color: var(--main-gray); border-radius: 50%;
  }
header .inner .like a,header .inner .basket a {height: 30px;}
.menuBtn {display: none;}
.bottom {height: 60px; padding: 10px 0; box-sizing: border-box; background-color: var(--sub-background);}
.bottom p {height: 20px; line-height: 20px; text-align: center; font-size: 1em;}
.bottom p:last-child {font-size: 0.875em;}
.bottom p span {text-decoration: underline; font-weight: bold;}
/* container */
.main { position: relative; text-align: center; width: 100%; max-height: 740px; background-color: #000;}
.main video {width: 100%; max-height: 740px;}
.main img { position: absolute; top: 0px; left: 0;right: 0; margin: 0 auto; display: none; width: 100%; max-height: 740px;}
.main .text{display: none; position: absolute; bottom: 10%; left: 0;right: 0; margin:0 auto; color: #fff;text-align: center; letter-spacing: 0.24em;}
.main .text span {display: block; font-weight: bold; font-size: inherit;}
.main .text iconify-icon {display: none; position: absolute; left: 50%; transform: translateX(-50%); top:100%; animation: scrollAni 1s ease-in-out infinite; color:inherit; font-size: 3em; }

@keyframes scrollAni {
  0% {top: 100%;}
  60% {top: calc(100% + 16px)}
  100% {top: 100%;}
}
#container {}
#container>div{margin-top:160px;  box-sizing: border-box;}
.physical {}
.physical .contents {display: flex; position: relative; width: 100%; height: 100%;/* height: 100%; */ /* height: 550px; */ /* overflow: hidden; */}
.physical .contents>img{/* min-width: 1458px; */ width: 100%; height: 100%; vertical-align: bottom;}
.physical .contents>.text_box{
  position: absolute; top: 0; right: 0; width: 34%; height: 100%;
  display: flex; flex-direction: column; justify-content: space-between;/*  min-width: 470px; */font-weight: 400; word-break: keep-all; box-sizing: border-box; background-color: var(--sub-background);  }
  .physical .text_box .text { padding: 1.4em;}
.physical .contents>.text_box>.text {
  display: flex; flex-direction: column; justify-content: center;
  height: 80%; box-sizing: border-box; font-weight: bold; }
.cont1 .title, .cont2 .title {font-size: 2em; }
.cont1 .text .sub {font-size: 1em; margin-top: 0.6em;}
.cont1 .text .description {margin: 1em 0; line-height: 1.5;}
.cont1 .text .qr_text {display: flex; width: 100%; height: 30%; gap:1em;}
.cont1 .text .qr_text img {height: 100%;}
.cont1 .text .qr_text .btns {display: flex; flex-direction: column; justify-content: space-around; box-sizing: border-box; font-size: 12px;}
.text .qr_text .btns a {}
.text .qr_text .btns a:first-child {}
.physical .contents>.text_box>.party {
  
  width: 100%;
  height: 20%; box-sizing: border-box;
  background-color: var(--main-black); color:#fff;}
.physical .contents>.text_box>.party p.sup {font-size: 0.8em; margin-bottom: 2px;}
.physical .contents>.text_box>.party p.title {font-size: 1.4em;}
.party .title {display: inline-block; position: relative; font-size: 2em; line-height: 1em;}
.party .title iconify-icon {position: absolute; top: 0; left: calc(100% + 10px); ; font-size: 1em; line-height: 1; transition: .3s; transform: rotate(360deg);}
.party .title iconify-icon.on {transform:  rotate(180deg);}
.party .text_box .text .title {font-size: 3em;}
.cont1 .party_info {/* display: none;  */ text-align: center;background-color: var(--main-black); box-sizing: border-box;}
.cont1 .party_info a { padding: 105px 0; }
.cont1 .party_info.on {display: block;}
/* .cont1 .party_info.off {display: none;} */
.cont1 .party_info .content {display: inline-block; position: relative; padding-bottom: 2em;}
.cont1 .party_info img {width: 100%; box-shadow: 0 0 60px 10px #ffffff25;}
.mobile {display: none;}
.cont1 .party_info .text_box {display: flex; flex-direction: column; justify-content: center; gap: 2em; position: absolute; top: 0;right: 0; width: 39%; height: 90%; font-weight: 400; color: var(--main-background);  box-sizing: border-box;  overflow: hidden;}
.party_info .text_box .text {text-align-last: left; }
.party_info .text .title {font-size: 1.6em; font-weight: bold;}
.party_info .text .description {font-size: 1em;}
.party_info .text .small {font-size: 1em; line-height: 1.4em;}
.cont1 .party_info .btn.apply {position: relative; width: 100%; padding: 7px 0; line-height: 2em;text-align: center; font-size: 1.25em; color:var(--main-background); border: 1px solid #fff; border-left-color: transparent; border-right-color: transparent; transition: 0.4s;}
.cont1 .party_info .text_box .btn.apply:hover {transform: scale(1.2); background-color: #ba030a; color:var(--main-background);}
/* new jeans */
.cont2 {}
.cont2 .contents {display: flex; position: relative;}
.cont2 .contents img {}
.cont2 .contents .text_box{
  display: flex; align-items: center; justify-content: center;
  position: relative; min-width: 420px;  flex: 1; padding: 40px 40px 180px; font-weight: bold; background-color: #F4EDF6; box-sizing: border-box;}
.cont2 .text {
  display: flex; flex-direction: column; justify-content: center; align-items: center;
  line-height: 1.2; text-align-last: left;
  word-break: keep-all;
  box-sizing: border-box;
}
.cont2 .text>* {width: 100%;}
.cont2 .sup {font-size: 1.5em; padding-left: 4px; margin-bottom: 8px;}
.cont2 .sub {margin: 20px 0;}
.cont2 .description {line-height: 28px;}
.cont2 .text_box .btns {
  position: absolute; left: 0; bottom: 0;
  width: 100%; height: 160px; text-align: center;  font-weight: bold;
}
.cont2 .text_box .btns a {height: 100%; word-break: keep-all;}
.cont2 .btns .buy {
  height: 50%; width: 100%; font-size: 1.25em; background-color: var(--sub-background); color:var(--main-black)
}
.cont2 .text_box .btns .buy a {display: flex; align-items: center; justify-content: center; line-height: 1.2;}
.cont2 .btns .buy:hover .item1 {border: none;}
.buy .item1, .buy .item2 {float: left; height: 100%; width: 50%; font-size: 0.9em;}
.buy .item1:hover, .buy .item2:hover {background-color: #FFA500; color: var(--main-background);}
.buy .item1 {border-right: 1px solid #111; box-sizing: border-box;}
.cont2 .btns .more {
  height: 50%; line-height: 80px; font-size: 1.6em; background-color: var(--main-black); color: var(--main-background);
}
.cont2 .btns .more iconify-icon {font-size: 1.4em; padding-right: 20px;}
.cont2 .btns .more:hover {
 background-color: #FFA500; color: var(--main-black);
}
/* airMax series */
#container>#airMax {padding: none; margin-top: 120px; box-shadow: var(--box-shadow); outline: none;}
.airMax .contents {position: relative; padding: 30px 60px;}
.airMax-swiper {width: 100%; /* height: 675px; */}
.airMax-swiper .swiper-slide {position: relative; /* height: 675px; */ overflow: hidden;}
.airMax-swiper .swiper-slide img{width: 100%;/* width: 540px; */}
.airMax-swiper .swiper-slide h3 {position: absolute; bottom: 20px;left: 20px; font-size: 1.125em; font-weight: bold; color:var(--main-background); }

/* trend */
#container>.trend {margin-top: 0; width: 100%; box-shadow: var(--box-shadow); outline: none;}
.trend .contents{position: relative; padding: 30px 60px;}
.swiper-slide {width: 100%;}
.swiper-slide img {width: 100%;}
.trend-swiper .swiper-slide {overflow: hidden;}
/* .trend-swiper .swiper-slide img {width: 100%;} */
.trend-swiper .swiper-slide p {position: absolute; bottom: 20px;left: 20px; font-size: 1.125em; font-weight: bold; color:var(--main-background); }

/* easy on */
.easyOn {text-align: center; width: 100%;}
.easyOn .contents a {}
.easyOn img {width: 100%;}
.easyOn .title {margin-top: 60px; font-size: 3.25em; font-weight: bold;}
.easyOn .description {font-size: 1em; margin: 30px 0;}
.easyOn .btn {
  width: 240px; height: 46px; line-height: 46px; margin: 0 auto;
  font-size: 1em; font-weight: bold; color:var(--main-black); background-color: var(--main-background);
  border: 2px solid #000; border-left-color: transparent; border-right-color: transparent; transition: 0.4s;}
.easyOn .btn:hover {background-color: var(--main-black); color: var(--main-background); transform: scale(1.2);}

/* iconic */
#container>.iconic {margin-top:0; padding:0; background: url(../images/iconic_side.jpg) no-repeat center/cover;}
.iconic .slide_area {position: relative; width: 100%; overflow: hidden;}
.iconic .slide_area .slide-wrapper {}
/* center slide */
.iconic .center_slide_wrapper {clip-path: polygon(15% 0%, 100% 0%,85% 100%, 0% 100%); position: relative; top: 0; left: 0%; width: 100%; height: 100%; text-align: center; z-index: 2; overflow: hidden;}
.iconic .center_slide_wrapper>img {width: 100%;/*  opacity: 0; */}
.iconic .center_slide_wrapper>.slides { position: absolute; top: 0; left: 0; width: 700%; height: 100%; }
.iconic .center_slide_wrapper .slide {
  /* position: absolute; left: 0; top: 0; width: 100%; height: 100%; */ position: relative; 
  float: left; width: calc(100%/7); height: 100%;
}
.center_slide_wrapper .slide img { width: 50%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 10;}
.center_slide_wrapper .slide span {
  display: block; position: absolute; left: 50%; bottom: 10%; transform: translateX(-100%);
  font-size: 2em; font-weight: bold; color:var(--main-background);
}
.iconic .center_slide_wrapper .btns {
  display: flex; justify-content: space-between; align-items: center;
  position: absolute; top: 50%; left: 0; transform: translateY(-50%);
  width: 100%; padding: 10%; box-sizing: border-box; font-size: 40px;
}
.center_slide_wrapper .btns .btn {color: #57575730; /* transition: 0.3s ease-in-out; */}
.center_slide_wrapper .btns .btn:hover {color: #11111190; cursor: pointer;}
/* .iconic .center_slide_wrapper .slide:not(:first-of-type){display: none;} */
/* side slide */
.iconic .side_slide_wrapper {display: flex;  flex-wrap: nowrap; justify-content: flex-start; align-items: center; position: absolute; top: 0%; left: 0%; width: calc(100%/3*7); /* transform: translateX(-50%); */ height: 100%;}
.iconic .side_slide_wrapper .slide {width: calc(100%/7); height: 100%;}
/* .iconic .side_slide_wrapper .slide:nth-child(2) {opacity: 0;} */
.iconic .side_slide_wrapper .slide a {position: relative; width: 100%; height: 100%;}
.iconic .side_slide_wrapper .slide a img {position: absolute; top: 50%; width: 60%;}

/* .iconic .side_slide_wrapper .slide a {position: relative; width: 100%; height: 100%;} */
/* .side_slide_wrapper .slide img {position: absolute; top: 50%; right: 50%; width: 60%; transform: translate(-50%, -50%);} */
/* .side_slide_wrapper .slide.prev {left: 100%;} */
.side_slide_wrapper .slide img {left: 100%;transform: translate(-50%, -50%); opacity: 1;  transition: 0.2s;}
.side_slide_wrapper .slide.prev img {left:-50%;  opacity: 1; transform: translate(26%, -50%);}
.iconic .side_slide_wrapper .slide.now img {opacity: 0;}

/* spring */
#container>#spring {margin-top: 0; box-shadow: var(--box-shadow);}
#spring .contents {position: relative; padding: 30px 60px;}
#spring .text {text-align: center; font-size: 1rem; padding-top: 16px;}
#spring .text h3 {font-weight: bold; margin-bottom: 6px;}
#spring .text h4 {margin-bottom: 6px;}
#spring .text span {display: block; font-size: 0.875rem;}

/* sport */
#container>#sport {margin-top: 0; box-shadow: var(--box-shadow);}
#sport .contents {position: relative; padding: 30px 60px;}
#sport .text {text-align: center; font-size: 1rem; padding-top: 16px;}
#sport .text h3 {font-weight: bold; margin-bottom: 6px;}
#sport .text span {display: block; font-size: 0.875rem;}

/* member */
#container>#member {padding: 30px 0; margin-top: 0; box-shadow: var(--box-shadow); box-sizing: border-box;}
#member ul {display: flex; gap: 20px; width: 100%;}
#member ul li {flex:1; width: calc((100% - 60px)/4);}
#member ul li a {position: relative; width: 100%; height: 100%; overflow: hidden;}
#member ul li a img{width: 100%;}
#member ul li a .text_box {position: absolute; bottom: 0;left: 0; width: 100%; height: 12%; display: flex; word-break: keep-all;}
#member ul li a:hover .text {background-color: var(--main-black); color: var(--main-background);}
#member .text_box .text {display: flex; flex-direction: column; justify-content: center; align-items: flex-start; gap:4px; flex: 1; padding: 1.25em; background-color: #ffffff; transition: 0.3s;}
#member .text h3 {font-size: 14px; margin-bottom: 4px;}
#member .text .description {font-size: 16px; font-weight: bold;}
#member .text_box .btn {
  display: flex; justify-content: center; align-items: center;
  width: 30%; font-size: 16px; font-weight: bold; 
  color: var(--main-background); background-color: var(--main-black); transition: 0.3s;}
  #member ul li a:hover .btn {background-color: #FFA500; color: var(--main-black);}

/* footer */
footer {margin-top: 160px; color: #7e7e7e; background-color: var(--main-black);}
footer .inner {display: flex; flex-direction: column; justify-content: space-between; padding: 50px 140px; align-items: center; gap:; box-sizing: border-box;}
footer .inner .footer_top{display: flex; justify-content: space-between; width: 100%; padding-bottom: 1em; font-weight: bold;}
footer .footer_top .footer_menu {flex: 1; display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 2em;}
footer .footer_menu .menu {width: 100px;}
footer .footer_menu .main_menu {margin-bottom: 1em;}
footer .footer_menu .main_menu+ul>li>a{margin-top: 0.875em;}
footer .footer_menu .menu .main_menu {color: var(--main-background);}
footer .footer_top .sns {flex: 1;}
.footer_top .sns ul {display: flex; justify-content: flex-end; gap: 20px;}
.footer_top .sns ul li:last-child {font-size: 1.3em;}
footer .inner .footer_bottom{width: 100%; font-size: 12px;}
footer .inner .footer_bottom a {display: inline-block; color: var(--main-background); font-weight: bold; text-decoration: underline;}
.footer_bottom .top_box {display: flex; justify-content: space-between; align-items: center; height: 34px; margin-bottom: 20px; border-bottom: 1px solid #7e7e7e;}
.footer_bottom .top_box .left {height: 100%; line-height: 34px;}
.footer_bottom .top_box .left>* {float: left;}
.footer_bottom .top_box .left a {margin-right: 2em;}
.footer_bottom .top_box .left .location a {text-decoration: none;}
.footer_bottom .top_box .left iconify-icon {margin-right: 14px;}
footer .inner .footer_bottom .top_box .right .policy{display: flex; justify-content: space-between; gap: 2em; }
footer .inner .footer_bottom .top_box .right .policy a{color:#7e7e7e; text-decoration: none;}
.footer_bottom .bottom_box {display: flex; word-break: keep-all; line-height: 1.4;}
.footer_bottom .bottom_box address {flex: 1;}
.footer_bottom .bottom_box address p {}
.bottom_box address .contact{margin-top: 20px;}
.footer_bottom .bottom_box .etcs {flex: 1;}
.bottom_box .etcs .protect{margin-top: 20px;}


/* .swiper-slide figure  */
.swiper-slide figure {width: 100%; height: 100%; overflow: hidden;}


/* slide btn common option */
.swiper-button-prev,
.swiper-button-next {
  opacity: 0.8;
  /* padding: 15px 5px; */
  color: var(--main-gray);
}
#sport .swiper-button-prev,
#sport .swiper-button-next {
  top: 50%; transform: translateY(-60%);
}
#spring .swiper-button-prev,
#spring .swiper-button-next {
  top: 50%; transform: translateY(-120%);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: var(--main-black);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 2.5em !important;
  font-weight: 900 !important;
}
.swiper-button-prev:after:hover,
.swiper-button-next:after:hover {
}

a {transition: 0.3s;}
.swiper-slide a:hover img {transform: scale(1.04);}
a img {transition: 0.3s;}

#member a:hover img {transform: scale(1.04);}
/* #member a:hover {animation: member 0.4s forwards;}
@keyframes member {
  0% {transform: translateY(0%);}
  50% {transform: translateY(-14%);}
  80% {transform: translateY(-8%);}
  100% {transform: translateY(-10%);}
} */

@media (max-width: 1080px) {
  body {font-size: 12px;}
  nav>ul.gnb {display: none;}
  .menuBtn {display: block;}
  .main .text {font-size: 0.8em;}
  .main .text {bottom: 12%;}
  .main .text iconify-icon {animation: scrollAni 1s ease-in-out infinite;}
  /* .physical .contents>.text_box {font-size: 12px;} */
  .cont1 .title, .cont2 .title {font-size: 1.4em;}
.physical .text_box .text {padding: 0.8em;} 
.cont1 .party_info .text_box {gap: 4%;}
.cont1 .party_info .btn.apply {line-height: 1.4;}

  @keyframes scrollAni {
    0% {top: 100%;}
    60% {top: calc(100% + 10px)}
    100% {top: 100%;}
  }
}

@media (max-width: 810px){
  /* .pc {display: none;} */
  /* .mobile {display: block;} */
  .cont1 .party_info a {padding: 4em 0;}
  .cont1 .party_info img.pc {display: none;}
  .cont1 .party_info img.mobile {display: block; width: 40%;}
  .cont1 .party_info .content {display: flex; flex-wrap: wrap;}
  .cont1 .party_info .text_box {width: 60%;/*  height: 100%; */}

  .party_info .btn.apply {display: none; position: absolute; bottom: -2%;  width: calc(100% /6 *5);}
  .party_info .content .apply.mobile {display: block; position: absolute; top: 100%; left: 50%; width: 40%; height: 1.2em; line-height: 1.2; font-size: 1em; transform: translateX(-50%);}
}

@media (max-width: 780px){
  .brandService {display: none;}
  header {padding: 0;}
  .main .text {bottom: 18%;}
  .physical .contents {display: block;}
  .physical .contents>.text_box {position: static; width: 100%; background-color: transparent; text-align: center;}
  .cont1 .text .qr_text {display: block;}
  .cont1 .text .qr_text img {width: 10%; height: auto;}
  .cont1 .text .qr_text .btns {display: block;}
  .cont1 .text .qr_text .btns>* {display: inline-block; width: 30%; padding:4px 0.6em; margin-top: 4px; background-color: green;}
  .physical .contents>img.pc {display: none;}
  .physical .contents>img.mobile {display: block;}
  .party_info .text .title {display: flex; justify-content: center;  font-size: 1.4em;}
  .cont1 .party_info a {padding: 2em 0; pointer-events: none;}
  .cont1 .party_info .content {display: block; text-align: center;}
  .cont1 .party_info img {margin: 0 auto;}
  .cont1 .party_info .text_box {position: static; margin: 0 auto; width: 100%; text-align: center;}
  .cont1 .party_info .text_box .text { text-align: center;}
  .party_info .content .apply.mobile {position: static; margin: 0 auto; transform: translate(0);}
} 
@media (max-width: 414px){
  .main .text {bottom: 24%;}
}